a {
	text-decoration: none;
}

#main-cv {
	margin-top: 30px;
}

#header-cv {
	background-color: #FDFDFD;
	border-bottom: #E9E9E9 1px solid;
	padding-left: 1.8em;
	padding-bottom: 0.8em;
}

#header-cv div {
	display: inline-block;
	margin-right: 40px;
}

.name-cv {
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 2px;
	margin-top: 20px;
	font-family: 'Quicksand', sans-serif;
}

.job-cv {
	font-weight: 400;
	color: #E2A100;
	margin-top: 0;
	margin-bottom: 5px;
	font-family: 'Quicksand', sans-serif;
}

.subtitle-cv {
	font-weight: 100;
	margin: 1px 0 1px 0;
}

.contact-cv {
	list-style: none;
	display: inline-block;
	padding-left: 0;
	float: right;
	margin-right: 33px;
	padding-top: 13px;
}

.contact-cv li {
	margin-bottom: 10px;
}

.contact-cv li span {
	font-size: 1.5em;
	padding-right: 15px;
	color: #EDB20A;
	vertical-align: middle;
}

.contact-cv li span:hover {
	color: #F9C634;
}

.contact-cv li a {
	color: #4D7E91; 
}

.contact-cv li a:hover {
	color: #649EB4; 
}

#summary-cv div p {
	padding-left: 3em;
	padding-right: 4.8em;
	line-height: 25px;
	font-family: 'Quicksand', sans-serif;
}


/*--blocks cv--*/

.job-title {
	margin:0;
	font-size: 15px;
	color: #2D5E72;
}

.job-location {
	margin: 0;
	font-size: 15px;
	color: #2D5E72;
	font-weight: normal;
}

.box-cv {
	background-color: #ffffff; 
	-webkit-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	-moz-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	-ms-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	-o-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	font-size: 14px;
	color: #4D7E91;
	padding: 12px 16px 12px 12px;
	margin-bottom: 10px;
	max-width: 410px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.list-job {
	padding-left: 15px;
	margin-top: 8px;
	margin-bottom: 0;
}

#skills,
#language {
	padding-left: 1.8em;
}

#work,
#block-right {
	padding-left: 1.8em;
	display: inline-block;
}

.label {
	color: white;
	background-color: #EDB20A;	
	padding: 10px 15px 10px 15px;
	-webkit-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	-moz-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	-ms-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	-o-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	display: inline-block;
	min-width: 90px;
}

#block-right {
	vertical-align: top;
}

.time {
	position: absolute;
	top: 10px;
	right: 15px;
	color: #4D7E91;
	font-weight: bolder;
	display: inline-block;
	font-size: 16px;
}

/*--skills--*/

#skills ul {
	padding-left: 1.2em;
	max-width: 900px;
}

#skills ul li {
	list-style: none;
	display: inline-block;
	background-color: #ffffff; 
	width: auto;
	margin: 0 5px 10px 0; 
	padding: 12px;
	-webkit-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	-moz-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	-ms-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	-o-box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
	box-shadow: 1px 1px 3px rgba(40, 92, 102, 0.15);
}

/*--work--*/

#work {
	margin-bottom: 6px;
}

.job-now {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 8px;
}

/*--education--*/

.school-subjects {
	margin-top: 8px;
	margin-bottom: 0;
}

.education {
	margin-bottom: 15px;
}

/*--comm-work--*/

.com-work div ul {
	margin: 0;
	padding-left: 15px;
}

/*time-line*/


.timeline-now {
	background-color: rgba(64, 123, 147, 0.5); 
	color: #fff;
	display: inline-block;
	padding: 19px 14px;
	border-radius: 30px;
	font-size: 10px;
	font-weight: bold;
}

.timeline {
	background-color: rgba(64, 123, 147, 0.5); 
	color: #fff;
	display: inline-block;
	padding: 14px 12px;
	border-radius: 30px;
	font-size: 10px;
	font-weight: bold;
}


/*download button*/


.download {
	position: fixed;
	bottom: 55%;
	right: 0;
	width: auto;
	background-color: rgba(102, 171, 197, 0.65);
	padding: 5px 14px 4px 17px;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
	-webkit-box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
	-moz-box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
	-ms-box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
	-o-box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
	transition: padding 0.2s linear;
	-webkit-transition: padding 0.2s linear;
	-moz-transition: padding 0.2s linear;
	-o-transition: padding 0.2s linear;
}

.download:hover{
	background-color: rgba(73, 163, 197, 0.65);
	padding-right: 22px;
}


.download div{
	font-weight: bolder;
	margin-right: 2px;
	text-align: center;
	margin-top: 3px;
}

.icon-download {
	color: #fff;
	font-weight: bolder;
	font-size: 20px;
}


.download-text p {
	margin: 0;
	font-weight: bold;
	font-size: small;
	color: #fff;
}

/*---------*/

/* Until 760px, there is not enough space to show the contact icons */
@media screen and (max-width: 758px){
    .contact-cv {
        float: none;
    }
}
@media screen and (max-width: 600px){
	#header-cv div {
		margin-top: 35px;
	}

	#summary-cv div p {
		padding-right: 2em;
		padding-left: 1.8em;
	}

	#skills ul {
		padding-left: 0;
	}
}

