html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Maven Pro', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.pure-menu.pure-menu-open {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #d8d8d8;
}

.header-fixed {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
}

.headroom {
    transition: transform 200ms linear;
    -webkit-transition: transform 200ms linear;
    -moz-transition: transform 200ms linear;
    -o-transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.thumbnail {
	margin: 0 auto;
}

main {
	margin-top: 37px;
}

.pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
.l-box {
        padding: 0.8em;
 }

.about {
    padding: 0.8em;
}

 .about-img {
    float: left;
    margin-top: 18px;
    padding-right: 1.6em;
 }

 .about p {
    text-align: justify;
 }

.contact {
}

.contact,
footer {
	height: 100px;
	padding: 20px;
}

footer {
	text-align: center;
}