html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body,
#home {
    background-size: 300px 300px;
    background-repeat: repeat;
}

body {
    color: #253137;
    background-color: #FFBF15;
    font-size: 15px;
    line-height: 20px;
}

h2 {
    color: #0096a6;
    font-size: 1.6em;
}

h2,
h3 {
    font-family: 'Reenie Beanie', cursive;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 10px;
    font-size: 1.4em;
}


.browsehappy {
    margin: 0.2em 0;
    background: #4D7E91;
    color: #C6DFE6;
    padding: 0.4em 1em;
}

.browsehappy-link {
    text-decoration: none;
    color: rgb(238, 221, 159);
}

.browsehappy-link:hover {
    color:rgb(247, 212, 88);
}

.icon-colibri2 {
    font-size: 16px;
    vertical-align: middle;
    color: #0096a6;
}

header {
    -webkit-box-shadow: -2px 1px 7px #9E9E9E; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: -2px 1px 7px #9E9E9E;
}

.pure-menu.pure-menu-open.pure-menu-horizontal a.pure-menu-heading {
    padding-left: 2px;
    padding-right: 0;
}


#menu-items {
    margin-left: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.pure-menu.pure-menu-open {
    background-color: #fdfdfd;
    padding: 4px 0 4px 10px;
}

.sonial {    
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px!important;
    font-weight: bold;
}

.pure-menu a,
.pure-menu .pure-menu-heading {
    white-space: normal;
    color: #253137;    
    font-size: 100%;
}


.pure-menu .pure-menu-selected a {
    color: #253137;
    font-size: 18px!important;
    font-weight: 700;   
}


.pure-menu li a {
    padding: 0 10px 0 10px;
    color: #36464e;
    font-size: 18px!important;
}

.pure-menu li a:hover {
    background: transparent;
    color: #0096a6; 
}

.contact-icons {
    display: inline-block; 
    position: absolute;
    bottom: -1px;
    right: 0; 
    margin-right: 20px;
}

.contact-icons a {
    display: inline-block;
    font-size: 1.5em;
    padding: 6px 4px;
    color: #0096a6;
}

.contact-icons a:hover {
    color: #00abc0;
}

.header-fixed {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(233, 233, 233, 1);
}

#doodle {
    position: fixed;
    z-index: 5;
    top: 50px;
    left: 0;
    right: 0;
    height: 92vh;
    width: 100%;
    background-image: url('../assets/site_doodle.png');
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: 80%;
}

#home {
    background-color: rgb(255, 255, 253);
    position: relative;
    z-index: 8;
    top: 92vh;
    margin-top: 50px;
    border-top: 1px solid #DBDBDB;
    /* Force GPU rendering for iOS otherwise you get glitches when scrolling*/
    -webkit-transform: translate3d(0,0,0);
}

/*
    Fix vh support on iOS7
*/
/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
    #doodle {
        height: 942px;
    }
    #home {
        top: 942px;
    }
}
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
    #doodle {
        height: 707px;
    }
    #home {
        top: 707px;
    }
}
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
    #doodle {
        height: 589px;
    }
    #home {
        top: 589px;
    }
}

.category-title {
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    background-color: #FFBF15;
    font-size: 20px;
    margin: 2em 0 0.5em 1em;
    color: white;
    padding: 4px 7px;
}

.thumbnail-caption {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #0096a6;
    margin-top: 6px;
    line-height: 17px;
}

#gallery {
    margin-bottom: 40px;
}

.thumbnail {
	margin: 0 auto;
    border: #FFFFFF 6px solid;
    -webkit-transform: translateZ(0);

        /* Black and white */
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");

    transition-property: filter;
    -webkit-transition-property: -webkit-filter;
    -moz-transition-property: -moz-filter;
    -ms-transition-property: -ms-filter;
    -o-transition-property: -o-filter;
    
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    -webkit-box-shadow: 2px 2px 7px 0px rgba(40, 92, 102, 0.20);
    -moz-box-shadow: 2px 2px 7px 0px rgba(40, 92, 102, 0.20);
    -ms-box-shadow: 2px 2px 7px 0px rgba(40, 92, 102, 0.20);
    -o-box-shadow: 2px 2px 7px 0px rgba(40, 92, 102, 0.20);
    box-shadow: 2px 2px 7px 0px rgba(40, 92, 102, 0.20);
}

.thumbnail:hover {
    /* Remove Black and white */
    filter: none;
    -webkit-filter: none;
    -moz-filter:none;
    -o-filter: none;
}

#gallery {
    margin-bottom: 2em;
}

img.mfp-img {
    width: auto !important;
    max-width: 100% !important;
}

.pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
.l-box {
        padding: 0.8em;
 }

/*description picture in slider*/
.mfp-bottom-bar {
    margin-top: -27px;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    border: 1px solid rgb(255, 255, 255);
}

/*
Special anchor for the portfolio/about section on a mobile
So the menu does not hide the section when you click on about
*/
 #about, #portfolio {
    display: block;
    position: relative;
    top: -35px;
    visibility: hidden;
}

.about,
.contact {
    padding: 0.8em;
    margin: 0 3em 0 1em;
}

.about h2 {
    margin: 1em 0;
}

.about-img {
    float: left;
    margin-right: 0.6em;
    opacity: 0.85;
    height: auto;
    max-width: 150px;
}

.date {
    color: #36464e;
    font-weight: bold;
    margin-right: 10px;
}

.work-done {
    margin-top: 5px;
    padding: 0;
}

.work-done li {
    list-style: none;
    margin-bottom: 5px;
}

.contact {
    margin-bottom: 16px;
}

.contact h2 {
    margin: 13px 0 1em;
    display: inline-block;
    vertical-align: top;
}

div.icon-contact {
    font-size: 45px;
    margin: 0 8px;
    color: #0096a6;
    padding: 0 10px 0 0;
    display: inline-block;
}

.contact p {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 9px;
    line-height: 1.3em;
}


.about p a,
.work-done li a,
.contact p a {
    color: #253137;
    text-decoration: none;
    font-weight: 700;
}

.about p a:hover,
.work-done li a:hover,
.contact p a:hover {
    color: #0096a6;
}

.contact p a.icon-tumblr,
.contact p a.icon-email,
.contact p a.icon-linkdn,
.contact p a.icon-cv {
    color: #36464e;
    vertical-align: text-bottom;
    font-size: 1.3em;
    text-decoration: none;
    padding-right: 5px;
    font-weight: normal;
}

.contact p a.icon-tumblr:hover,
.contact p a.icon-email:hover,
.contact p a.icon-linkdn:hover,
.contact p a.icon-cv:hover {
    color: #0096a6;
}

.contact-script {
    display: none;
}

footer {
	height: 50px;
	padding: 20px 20px 50px 20px;
}

/*footer*/

footer {
    border-top: #E9E9E9 1px solid;
    background-color: #fdfdfd;
    text-align: left;
    font-size: 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

footer a {
    color: #253137;
    text-decoration: none;
    font-weight: bold;
}  

footer a:hover {
    color: #0096a6;
}

p.title-footer {    
    font-family: 'Reenie Beanie', cursive;   
    font-weight: bold;
    margin: 2px 0;
    color: #36464e;
}  

.icon-colibri2.icon-footer {
    color: #36464e;
}

p.rights {
    margin: 2px 0;
}  

p.squeezer {
    margin-top: 0; 
    margin-bottom: 0;   
}

.icon-squeezer {
    font-size: 30px;
    vertical-align: middle;
}

/*portfolio pdf*/
.download-portfolio {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 17px;
    position: fixed;
    z-index: 15;
    bottom: 50%;
    right: 0;
    width: auto;
    background-color: rgba(245, 182, 0, 0.65);
    padding: 5px 14px 4px 17px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
    -webkit-box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
    -moz-box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
    -ms-box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
    -o-box-shadow: -1px 1px 3px rgba(40, 92, 102, 0.20);
    transition: padding 0.2s linear;
    -webkit-transition: padding 0.2s linear;
    -moz-transition: padding 0.2s linear;
    -o-transition: padding 0.2s linear;
}

.download-portfolio:hover{
    background-color: rgba(255, 197, 31, 0.65);
    padding-right: 22px;
}


.download-portfolio div{
    font-weight: bolder;
    margin-right: 2px;
    text-align: center;
    margin-top: 3px;
}

.icon-download {
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}


.download-text p {
    margin: 0;
    font-weight: bold;
    color: #fff;
}

/* 
    =======================
    Open gallery with fade effect
    =======================
*/
.mfp-fade-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.mfp-fade-in.mfp-bg {
  opacity: 0;
  transition: all 0.6s ease-out;
}
.mfp-fade-in.mfp-ready .mfp-with-anim {
  opacity: 1;
}
.mfp-fade-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-fade-in.mfp-removing .mfp-with-anim {
  opacity: 0;
}
.mfp-fade-in.mfp-removing.mfp-bg {
  opacity: 0;
}


/*slider*/
/*left*/
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
    width: 42px;
    height: 42px;
    background: #3f3f3f;
    -moz-border-radius: 74px;
    -webkit-border-radius: 74px;
    border-radius: 74px;
    left: 26px;
}

/*before left and right*/
.mfp-arrow:before,
.mfp-arrow .mfp-b {
    margin-left: 0;
    border: none;
}

/*after*/
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
    border-left: 21px solid white;
    margin-left: 39px;
}

/*after left and rigth*/
.mfp-arrow:after,
.mfp-arrow .mfp-a {
    
}

/*right*/

/*before*/
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
    width: 42px;
    height: 42px;
    background: #3f3f3f;
    -moz-border-radius: 74px;
    -webkit-border-radius: 74px;
    border-radius: 74px;
    left: 16px;
}

/*after*/
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
    border-left: 18px solid white;
    margin-left: 31px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    /* Retina-specific stuff here */
    #doodle {
        background-image: url('../assets/site_doodle@2x.png');
    }
}

/* Until 740px, there is not enough space to show the contact icons */
@media screen and (max-width: 790px){
    .contact-icons {
        display: none;
    }
    h2 {
        line-height: 1.2em;
    }
}

/*Until 625px, menu is on 2 lines*/
@media screen and (max-width: 625px){
    /*Push down main section*/
    #home {
        margin-top: 30px;
    }

    #doodle {
        background-image: url('../assets/mobile_doodle.png');
        top: 1%;
        background-position: 50% 50%;
        background-size: 80%;
    }

     #about, #portfolio {
        top: -100px;
     }
}

/* Mobile retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 625px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 625px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 625px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 625px),
only screen and (                min-resolution: 192dpi) and (max-width: 625px),
only screen and (                min-resolution: 2dppx) and (max-width: 625px) {

    #doodle {
        background-image: url('../assets/mobile_doodle@2x.png');
    }
}


/* Until 535px align left "sonia lahcene graphic design" and menu items*/
@media screen and (max-width: 567px){   
    .thumbnail-caption {
        text-align: center;
    }
}

/* Until 535px align left "sonia lahcene graphic design" and menu items*/
@media screen and (max-width: 534px){   
    #menu-items {
        margin-left: 19px;
    }

    .pure-menu-heading.sonial {
        padding-bottom: 0;
    }
}


/* Until 490px stick the contacts details under the icon and title*/
@media screen and (max-width: 490px){   
    .about {
        margin-right: 1em;
    }

    .contact {
        margin-right: 0;
    }

    span.icon-contact {
        margin: 0 10px 0 0;
    }
    h2 {
        font-size: 1.2em; 
        line-height: 1.2em;
    }

    div.icon-contact {
        font-size: 35px;
        margin: 0 8px;
    }
    .contact p {
        margin: 5px 0 0;
    }
}

/* 
Until 410px, 
remove the colibri in the menu and reshape the menu,
break line after my photo 
*/
@media screen and (max-width: 410px){
    .about-img {
        float: none;
        display: block;
    }

    .icon-colibri2 {
        display: none;
    }

    .icon-colibri2.icon-footer {
        display: inline-block;
    }

    .pure-menu.pure-menu-open.pure-menu-horizontal a.pure-menu-heading {
        padding-left: 0;
    }

    a.pure-menu-heading.sonial {
        padding: 5px 15px 0px !important;
    }

    ul#menu-items {
        margin-left: 5px;
    }
}

/* 
Until 301px, menu is on 3 lines
*/
@media screen and (max-width: 301px){
    #doodle {
        top: 0;
    }

    #about, #portfolio {
        top: -80px;
    }
}