@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?h39ud2');
	src:url('fonts/icomoon.eot?#iefixh39ud2') format('embedded-opentype'),
		url('fonts/icomoon.woff?h39ud2') format('woff'),
		url('fonts/icomoon.ttf?h39ud2') format('truetype'),
		url('fonts/icomoon.svg?h39ud2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-colibri:before {
	content: "\e603";
}
.icon-squeezer:before {
	content: "\e602";
}
.icon-email:before {
	content: "\e600";
}
.icon-linkdn:before {
	content: "\e601";
}
